<h1>Articles</h1>
<p><%= @article.title %></p>
<p><%= @article.content %></p>

<%= link_to "Back", articles_path %>
<%= link_to "Edit Article", edit_article_path(@article) %>
<%= link_to "Delete", article_path(@article), method: :delete %>
